body {  
    font-family: 'Poppins', Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    background: linear-gradient(45deg, #0011fb 0%, #00e8f4 100%);
    background-attachment: fixed;
    color: #ffffff;
    min-height: 100vh;
}  


header h1 {  
    margin: 0;  
    font-size: 28px;  
    background: linear-gradient(90deg, #ffffff, #ffffff);  
    -webkit-background-clip: text;  
    background-clip: text;  
    color: transparent;  
    font-weight: 600;  
}  
header {  
    text-align: center;  
    padding-top: 60px;  
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}  

main {  
    display: flex;  
    justify-content: center;  
    align-items: flex-start;  
    min-height: calc(100vh - 120px);  
    text-align: center;  
    padding-top: 20px;
}  

.login-container {  
    background-color: rgba(255, 255, 255, 0.15);  
    border: 1px solid rgba(255, 255, 255, 0.18);  
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);  
    padding: 40px;  
    border-radius: 16px;  
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);  
    width: 400px;  
    transition: all 0.3s ease;  
    color: #e0fbfc;
}


.form-group {  
    margin-bottom: 20px;  
    text-align: left;  
    padding-bottom: 5%;  
}  

label {  
    margin-bottom: 5px;  
    padding-bottom: 5%;  
    font-weight: 500;  
    color: #e0fbfc;  
} 

input[type="text"],  
input[type="password"] {  
    width: 100%;  
    padding: 12px;  
    border: 1px solid rgba(255, 255, 255, 0.3);  
    border-radius: 8px;  
    background-color: rgba(255, 255, 255, 0.1);  
    color: #ffffff;  
    font-family: 'Poppins', sans-serif;  
    font-size: 14px;  
    box-sizing: border-box;  
    outline: none;  
    transition: all 0.3s ease;
}  

input[type="text"]:focus,  
input[type="password"]:focus {  
    border-color: #ffffff;  
    background-color: rgba(255, 255, 255, 0.2);  
}  

hr {  
    border: 1px solid rgba(255, 255, 255, 0.3);  
    margin: 20px 0;  
}  

.form-group-buttons {  
    display: flex;  
    justify-content: space-between;  
    gap: 10px;  
    padding-bottom: 30%;  
}  

button {  
    background: linear-gradient(90deg, #920fd9 0%, #033ff4 100%);  
    color: #ffffff;  
    border: none;  
    padding: 10px 20px;  
    cursor: pointer;  
    border-radius: 8px;  
    width: 100%;  
    flex: 1;  
    margin: 0 5px;  
    font-family: 'Poppins', sans-serif;  
    font-weight: 500;  
    transition: all 0.3s ease;  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
}  

button:hover {  
    background: linear-gradient(90deg, #033ff4 0%, #920fd9 100%);  
    transform: translateY(-2px);  
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);  
}  

p {  
    margin-top: 20px;  
    font-size: 18px;  
    color: #e0fbfc;  
    font-weight: 500;  
    text-align: center;  
}  
